# Subsetting and Descriptive Stats

## Before your start:
   - Remember that you just need to do one of the challenges.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in IronHack's database.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly: enjoy the process!
   
#### Import all the necessary libraries here:

In [1]:
import pandas as pd

# [ONLY ONE MANDATORY] Challenge 1
#### In this challenge we will use the `Temp_States`  dataset. 

#### First import it into a dataframe called `temp`.

In [2]:
# your code here

#### Print `temp`.

In [3]:
# your code here

#### Explore the data types of the *temp* dataframe. What types of data do we have? Comment your result.

In [4]:
# your code here

In [5]:
"""
your comments here
"""

'\nyour comments here\n'

#### Select the rows where state is New York.

In [6]:
# your code here

#### What is the average temperature of cities in New York?

In [7]:
# your code here

#### Which states and cities have a temperature above 15 degrees Celsius?

In [8]:
# your code here

#### Now, return only the cities that have a temperature above 15 degrees Celsius.

In [9]:
# your code here

#### Which cities have a temperature above 15 degrees Celcius and below 20 degrees Celsius?

**Hint**: First, write the condition. Then, select the rows.

In [10]:
# your code here

#### Find the mean and standard deviation of the temperature of each state.

In [11]:
# your code here

# [ONLY ONE MANDATORY]  Challenge 2

#### Load the `employees` dataset into a dataframe. Call the dataframe `employees`.

In [12]:
# your code here

#### Explore the data types of the `employees` dataframe. Comment your results.

In [13]:
# your code here

In [14]:
"""
your comments here
"""

'\nyour comments here\n'

#### What's the average salary in this company?

In [15]:
# your code here

#### What's the highest salary?

In [16]:
# your code here

#### What's the lowest salary?

In [17]:
# your code here

#### Who are the employees with the lowest salary?

In [18]:
# your code here

#### Find all the information about an employee called David.

In [19]:
# your code here

#### Could you return only David's salary?

In [20]:
# your code here

#### Print all the rows where job title is associate.

In [21]:
# your code here

#### Print the first 3 rows of your dataframe.
**Tip**: There are 2 ways to do it. Do it both ways.

In [22]:
# Method 1
# your code here

In [23]:
# Method 2
# your code here

#### Find the employees whose title is associate and whose salary is above 55.

In [24]:
# your code here

#### Group the employees by number of years of employment. What are the average salaries in each group?

In [25]:
# your code here

####  What is the average salary per title?

In [26]:
# your code here

####  Find the salary quartiles.

In [27]:
# your code here

#### Is the mean salary different per gender?

In [28]:
# your code here

#### Find the minimum, mean and maximum of all numeric columns for each company department.

In [29]:
# your code here

#### Bonus Question:  for each department, compute the difference between the maximum and the minimum salary.
**Hint**: try using `agg` or `apply` combined with `lambda` functions.

In [30]:
# your code here

# [ONLY ONE MANDATORY] Challenge 3
#### Open the `Orders` dataset. Name your dataset `orders`.

In [31]:
orders = pd.read_csv("/Users/camilaschroeder/Desktop/DATA/Week5/day4/lab-subsetting-and-descriptive-stats/your-code/Orders.csv")

orders

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,541904,581587,22613,2011,12,5,12,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20
397920,541905,581587,22899,2011,12,5,12,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60
397921,541906,581587,23254,2011,12,5,12,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397922,541907,581587,23255,2011,12,5,12,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397923,541908,581587,22138,2011,12,5,12,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85

#### Explore your dataset by looking at the data types and summary statistics. Comment your results.

In [32]:
orders.dtypes

Unnamed: 0        int64
InvoiceNo         int64
StockCode        object
year              int64
month             int64
day               int64
hour              int64
Description      object
Quantity          int64
InvoiceDate      object
UnitPrice       float64
CustomerID        int64
Country          object
amount_spent    float64
dtype: object

In [33]:
orders[["year", "month", "day", "hour", "Quantity", "UnitPrice", "amount_spent"]].describe()

,year,month,day,hour,Quantity,UnitPrice,amount_spent
count,397924.000000,397924.000000,397924.000000,397924.000000,397924.000000,397924.000000,397924.000000
mean,2010.934259,7.612537,3.614555,12.728247,13.021823,3.116174,22.394749
std,0.247829,3.416527,1.928274,2.273535,180.420210,22.096788,309.055588
min,2010.000000,1.000000,1.000000,6.000000,1.000000,0.000000,0.000000
25%,2011.000000,5.000000,2.000000,11.000000,2.000000,1.250000,4.680000
50%,2011.000000,8.000000,3.000000,13.000000,6.000000,1.950000,11.800000
75%,2011.000000,11.000000,5.000000,14.000000,12.000000,3.750000,19.800000
max,2011.000000,12.000000,7.000000,20.000000,80995.000000,8142.750000,168469.600000

Whats there to comment???????

####  What is the average purchase price?

In [34]:
avg_purchase = orders["amount_spent"].mean()

avg_purchase

22.394748504739596

#### What are the highest and lowest purchase prices?

In [35]:
max_purchase = orders["amount_spent"].max()

max_purchase

168469.6

In [36]:
min_purchase = orders["amount_spent"].min()

min_purchase

0.0

#### Select all the customers from Spain.
**Hint**: Remember that you are not asked to find orders from Spain but customers. A customer might have more than one order associated.

In [37]:
spanish_orders = orders[(orders["Country"] == "Spain")]

spanish_orders["CustomerID"]

4250      12557
4251      12557
4252      12557
4253      12557
4254      12557
          ...
394733    17097
394734    17097
394735    17097
394736    17097
394737    17097
Name: CustomerID, Length: 2485, dtype: int64

#### How many customers do we have in Spain?

In [38]:
spanish_orders["CustomerID"].nunique()

30

#### Select all the customers who have bought more than 50 items.
**Hint**: Remember that you are not asked to find orders with more than 50 items but customers who bought more than 50 items. A customer with two orders of 30 items each should appear in the selection.

In [39]:
cust_50 = orders[orders["Quantity"] > 50]
cust_50 = cust_50["InvoiceNo"]

cust_50

46        536371
83        536376
96        536378
102       536378
174       536386
           ...
397720    581566
397721    581567
397729    581567
397761    581571
397882    581584
Name: InvoiceNo, Length: 11609, dtype: int64

#### Select orders from Spain that include more than 50 items.

In [40]:
cust_50_spain = orders[(orders["Quantity"] > 50) & (orders["Country"] == "Spain")]
cust_50_spain = cust_50_spain["InvoiceNo"]

cust_50_spain

4250      536944
4251      536944
4252      536944
4253      536944
4254      536944
32454     540785
32455     540785
32456     540785
32457     540785
91155     547972
91156     547972
91159     547972
174442    558871
174443    558871
174444    558871
174445    558871
174446    558871
174447    558871
174448    558871
174449    558871
197167    561669
197168    561669
197169    561669
197170    561669
197171    561669
224881    564734
254097    567968
289129    571255
289134    571255
289142    571255
289143    571255
295956    571851
312655    573362
312656    573362
312657    573362
366326    578321
366327    578321
366328    578321
366329    578321
Name: InvoiceNo, dtype: int64

#### Select all free orders.

In [41]:
free_orders = orders[orders["amount_spent"] == 0]

free_orders

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
6914,9302,537197,22841,2010,12,7,14,round cake tin vintage green,1,2010-12-05 14:02:00,0.0,12647,Germany,0.0
22539,33576,539263,22580,2010,12,4,14,advent calendar gingham sack,4,2010-12-16 14:36:00,0.0,16560,United Kingdom,0.0
25379,40089,539722,22423,2010,12,2,13,regency cakestand 3 tier,10,2010-12-21 13:45:00,0.0,14911,EIRE,0.0
29080,47068,540372,22090,2011,1,4,16,paper bunting retrospot,24,2011-01-06 16:41:00,0.0,13081,United Kingdom,0.0
29082,47070,540372,22553,2011,1,4,16,plasters in tin skulls,24,2011-01-06 16:41:00,0.0,13081,United Kingdom,0.0
34494,56674,541109,22168,2011,1,4,15,organiser wood antique white,1,2011-01-13 15:10:00,0.0,15107,United Kingdom,0.0
53788,86789,543599,84535B,2011,2,4,13,fairy cakes notebook a6 size,16,2011-02-10 13:08:00,0.0,17560,United Kingdom,0.0
85671,130188,547417,22062,2011,3,3,10,ceramic bowl with love heart design,36,2011-03-23 10:25:00,0.0,13239,United Kingdom,0.0
92875,139453,548318,22055,2011,3,3,12,mini cake stand hanging strawbery,5,2011-03-30 12:45:00,0.0,13113,United Kingdom,0.0
97430,145208,548871,22162,2011,4,1,14,heart garland rustic padded,2,2011-04-04 14:42:00,0.0,14410,United Kingdom,0.0
107192,157042,550188,22636,2011,4,4,18,childs breakfast set circus parade,1,2011-04-14 18:57:00,0.0,12457,Switzerland,0.0
128641,187613,553000,47566,2011,5,4,15,party bunting,4,2011-05-12 15:21:00,0.0,17667,United Kingdom,0.0
137127,198383,554037,22619,2011,5,5,14,set of 6 soldier skittles,80,2011-05-20 14:13:00,0.0,12415,Australia,0.0
194648,279324,561284,22167,2011,7,2,12,oval wall mirror diamante,1,2011-07-26 12:24:00,0.0,16818,United Kingdom,0.0
197173,282912,561669,22960,2011,7,4,17,jam making set with jars,11,2011-07-28 17:09:00,0.0,12507,Spain,0.0
199711,285657,561916,M,2011,8,1,11,manual,1,2011-08-01 11:44:00,0.0,15581,United Kingdom,0.0
208950,298054,562973,23157,2011,8,4,11,set of 6 nativity magnets,240,2011-08-11 11:42:00,0.0,14911,EIRE,0.0
223931,314745,564651,23270,2011,8,5,14,set of 2 ceramic painted hearts,96,2011-08-26 14:19:00,0.0,14646,Netherlands,0.0
223932,314746,564651,23268,2011,8,5,14,set of 2 ceramic christmas reindeer,192,2011-08-26 14:19:00,0.0,14646,Netherlands,0.0
223933,314747,564651,22955,2011,8,5,14,36 foil star cake cases,144,2011-08-26 14:19:00,0.0,14646,Netherlands,0.0
223934,314748,564651,21786,2011,8,5,14,polkadot rain hat,144,2011-08-26 14:19:00,0.0,14646,Netherlands,0.0
256263,358655,568158,PADS,2011,9,7,12,pads to match all cushions,1,2011-09-25 12:22:00,0.0,16133,United Kingdom,0.0
259399,361825,568384,M,2011,9,2,9,manual,1,2011-09-27 09:46:00,0.0,12748,United Kingdom,0.0
273926,379913,569716,22778,2011,10,4,8,glass cloche small,2,2011-10-06 08:17:00,0.0,15804,United Kingdom,0.0
286507,395529,571035,M,2011,10,4,12,manual,1,2011-10-13 12:50:00,0.0,12446,RSA,0.0
307092,420404,572893,21208,2011,10,3,14,pastel colour honeycomb fan,5,2011-10-26 14:36:00,0.0,18059,United Kingdom,0.0
319882,436428,574138,23234,2011,11,4,11,biscuit tin vintage christmas,216,2011-11-03 11:26:00,0.0,12415,Australia,0.0
320049,436597,574175,22065,2011,11,4,11,christmas pudding trinket pot,12,2011-11-03 11:47:00,0.0,14110,United Kingdom,0.0
320407,436961,574252,M,2011,11,4,13,manual,1,2011-11-03 13:24:00,0.0,12437,France,0.0
322279,439361,574469,22385,2011,11,5,11,jumbo bag spaceboy design,12,2011-11-04 11:55:00,0.0,12431,Australia,0.0
328385,446125,574879,22625,2011,11,1,13,red kitchen scales,2,2011-11-07 13:22:00,0.0,13014,United Kingdom,0.0
329006,446793,574920,22899,2011,11,1,16,children's apron dolly girl,1,2011-11-07 16:34:00,0.0,13985,United Kingdom,0.0
329007,446794,574920,23480,2011,11,1,16,mini lights woodland mushrooms,1,2011-11-07 16:34:00,0.0,13985,United Kingdom,0.0
334242,454463,575579,22437,2011,11,4,11,set of 9 black skull balloons,20,2011-11-10 11:49:00,0.0,13081,United Kingdom,0.0
334243,454464,575579,22089,2011,11,4,11,paper bunting vintage paisley,24,2011-11-10 11:49:00,0.0,13081,United Kingdom,0.0
352746,479079,577129,22464,2011,11,4,19,hanging metal heart lantern,4,2011-11-17 19:52:00,0.0,15602,United Kingdom,0.0
353097,479546,577168,M,2011,11,5,10,manual,1,2011-11-18 10:42:00,0.0,12603,Germany,0.0
354170,480649,577314,23407,2011,11,5,13,set of 2 trays home sweet home,2,2011-11-18 13:23:00,0.0,12444,Norway,0.0
358629,485985,577696,M,2011,11,1,11,manual,1,2011-11-21 11:57:00,0.0,16406,United Kingdom,0.0
370473,502122,578841,84826,2011,11,5,15,asstd design 3d paper stickers,12540,2011-11-25 15:57:00,0.0,13256,United Kingdom,0.0

#### Select all orders whose description starts with `lunch bag`.
**Hint**: use string functions.

In [42]:
lunch_orders = orders[orders["Description"].str.startswith("lunch bag")]

lunch_orders

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
93,93,536378,20725,2010,12,3,9,lunch bag red retrospot,10,2010-12-01 09:37:00,1.65,14688,United Kingdom,16.50
172,174,536385,22662,2010,12,3,9,lunch bag dolly girl design,10,2010-12-01 09:56:00,1.65,17420,United Kingdom,16.50
354,363,536401,22662,2010,12,3,11,lunch bag dolly girl design,1,2010-12-01 11:21:00,1.65,15862,United Kingdom,1.65
359,368,536401,20725,2010,12,3,11,lunch bag red retrospot,1,2010-12-01 11:21:00,1.65,15862,United Kingdom,1.65
360,369,536401,22382,2010,12,3,11,lunch bag spaceboy design,2,2010-12-01 11:21:00,1.65,15862,United Kingdom,3.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397465,540436,581486,23207,2011,12,5,9,lunch bag alphabet design,10,2011-12-09 09:38:00,1.65,17001,United Kingdom,16.50
397713,541695,581538,20727,2011,12,5,11,lunch bag black skull.,1,2011-12-09 11:34:00,1.65,14446,United Kingdom,1.65
397714,541696,581538,20725,2011,12,5,11,lunch bag red retrospot,1,2011-12-09 11:34:00,1.65,14446,United Kingdom,1.65
397877,541862,581581,23681,2011,12,5,12,lunch bag red vintage doily,10,2011-12-09 12:20:00,1.65,17581,United Kingdom,16.50
397880,541865,581583,20725,2011,12,5,12,lunch bag red retrospot,40,2011-12-09 12:23:00,1.45,13777,United Kingdom,58.00

#### Select all `lunch bag` orders made in 2011.

In [43]:
lunch_orders_2011 = orders[(orders["Description"].str.startswith("lunch bag")) & (orders["year"] == 2011)]

lunch_orders_2011

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
26340,42678,540015,20725,2011,1,2,11,lunch bag red retrospot,10,2011-01-04 11:40:00,1.65,13319,United Kingdom,16.50
26341,42679,540015,20726,2011,1,2,11,lunch bag woodland,10,2011-01-04 11:40:00,1.65,13319,United Kingdom,16.50
26512,42851,540023,22382,2011,1,2,12,lunch bag spaceboy design,2,2011-01-04 12:58:00,1.65,15039,United Kingdom,3.30
26513,42852,540023,20726,2011,1,2,12,lunch bag woodland,1,2011-01-04 12:58:00,1.65,15039,United Kingdom,1.65
26860,43616,540098,22384,2011,1,2,15,lunch bag pink polkadot,1,2011-01-04 15:50:00,1.65,16241,United Kingdom,1.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397465,540436,581486,23207,2011,12,5,9,lunch bag alphabet design,10,2011-12-09 09:38:00,1.65,17001,United Kingdom,16.50
397713,541695,581538,20727,2011,12,5,11,lunch bag black skull.,1,2011-12-09 11:34:00,1.65,14446,United Kingdom,1.65
397714,541696,581538,20725,2011,12,5,11,lunch bag red retrospot,1,2011-12-09 11:34:00,1.65,14446,United Kingdom,1.65
397877,541862,581581,23681,2011,12,5,12,lunch bag red vintage doily,10,2011-12-09 12:20:00,1.65,17581,United Kingdom,16.50
397880,541865,581583,20725,2011,12,5,12,lunch bag red retrospot,40,2011-12-09 12:23:00,1.45,13777,United Kingdom,58.00

#### Show the frequency distribution of the amount spent in Spain.

In [44]:
spanish_orders_freq_dist = spanish_orders["amount_spent"].value_counts()

spanish_orders_freq_dist

amount_spent
15.00     186
17.70     122
19.80      99
17.40      86
10.20      76
         ...
3.36        1
8.67        1
5.85        1
27.00       1
109.50      1
Name: count, Length: 316, dtype: int64

#### Select all orders made in the month of August.

In [45]:
orders_august = orders[orders["month"] == 8]

orders_august

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
199475,285421,561904,22075,2011,8,1,8,6 ribbons elegant christmas,96,2011-08-01 08:30:00,1.45,17941,United Kingdom,139.20
199476,285422,561904,85049E,2011,8,1,8,scandinavian reds ribbons,156,2011-08-01 08:30:00,1.06,17941,United Kingdom,165.36
199477,285423,561905,21385,2011,8,1,9,ivory hanging decoration heart,24,2011-08-01 09:31:00,0.85,14947,United Kingdom,20.40
199478,285424,561905,84970L,2011,8,1,9,single heart zinc t-light holder,12,2011-08-01 09:31:00,0.95,14947,United Kingdom,11.40
199479,285425,561905,84970S,2011,8,1,9,hanging heart zinc t-light holder,12,2011-08-01 09:31:00,0.85,14947,United Kingdom,10.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226483,320688,565067,22644,2011,8,3,17,ceramic cherry cake money bank,2,2011-08-31 17:16:00,1.45,15856,United Kingdom,2.90
226484,320689,565067,22645,2011,8,3,17,ceramic heart fairy cake money bank,2,2011-08-31 17:16:00,1.45,15856,United Kingdom,2.90
226485,320690,565067,22637,2011,8,3,17,piggy bank retrospot,2,2011-08-31 17:16:00,2.55,15856,United Kingdom,5.10
226486,320691,565067,22646,2011,8,3,17,ceramic strawberry cake money bank,2,2011-08-31 17:16:00,1.45,15856,United Kingdom,2.90
226487,320692,565067,22741,2011,8,3,17,funky diva pen,48,2011-08-31 17:16:00,0.85,15856,United Kingdom,40.80

#### Find the number of orders made by each country in the month of August.
**Hint**: Use value_counts().

In [47]:
country_orders_august = orders_august["Country"].value_counts()

country_orders_august

Country
United Kingdom     23105
Germany              795
EIRE                 593
France               569
Netherlands          280
Switzerland          267
Spain                252
Belgium              194
Israel               171
Channel Islands      140
Australia            107
Italy                 95
Austria               88
Norway                77
Finland               61
Malta                 55
Portugal              41
Sweden                40
Unspecified           23
Iceland               22
Poland                17
Denmark               16
Canada                 5
Name: count, dtype: int64

#### What's the  average amount of money spent by country?

In [49]:
avg_spent_country = orders.groupby("Country")["amount_spent"].mean()

avg_spent_country

Country
Australia               116.895620
Austria                  25.624824
Bahrain                  32.258824
Belgium                  20.283772
Brazil                   35.737500
Canada                   24.280662
Channel Islands          27.340160
Cyprus                   22.134169
Czech Republic           33.069600
Denmark                  49.882474
EIRE                     36.687745
European Community       21.670833
Finland                  32.913985
France                   25.056827
Germany                  25.311562
Greece                   32.831172
Iceland                  23.681319
Israel                   29.119718
Italy                    23.064960
Japan                   116.561900
Lebanon                  37.641778
Lithuania                47.458857
Malta                    24.335625
Netherlands             120.798282
Norway                   33.736418
Poland                   22.226212
Portugal                 22.872702
RSA                      17.281207
Saudi Arabia             16.213333
Singapore                95.852658
Spain                    24.779521
Sweden                   85.096075
Switzerland              30.642752
USA                      20.002179
United Arab Emirates     27.974706
United Kingdom           20.625073
Unspecified              10.930615
Name: amount_spent, dtype: float64

#### What's the most expensive item?

In [52]:
expensive_prod = orders[orders["amount_spent"] == orders["amount_spent"].max()]

print(expensive_prod["Description"])

397451    paper craft , little birdie
Name: Description, dtype: object

#### What is the average amount spent per year?

In [54]:
avg_per_year = orders.groupby("year")["amount_spent"].mean()

avg_per_year

year
2010    21.892733
2011    22.430074
Name: amount_spent, dtype: float64